*.iws
*.class
/AverageScene/sceneImages
/AverageScene/sceneImages_orig
/AverageScene/Debug
/AverageScene/ipch
/AverageScene/Release
*.user
*.opensdf
*.sdf
*.suo
/color_coord
/MaterialRegionRenderer/output_good
/MaterialRegionRenderer/output
/MaterialRegionRenderer/output_bad
/misc
*.pdb
*.exe
*.exp
*.lib
*.ipch
*.lastbuildstate
*.log
*.obj
*.tlog
*.manifest
*.dll
*.cache
*.resources
*.idb
*.png
*.png
*.png
*.png
*.png
*.png
*.png
*.png
