*.iws
*.class
/AverageScene/sceneImages
/AverageScene/sceneImages_orig
/AverageScene/Debug
/AverageScene/ipch
/AverageScene/Release
*.user
*.opensdf
*.sdf
*.suo
/color_coord
/MaterialRegionRenderer/output_good
/MaterialRegionRenderer/output
/MaterialRegionRenderer/output_bad
/misc
*.pdb
*.exe
*.exp
*.lib
*.ipch
*.lastbuildstate
*.log
*.obj
*.tlog
*.manifest
*.dll
*.cache
*.resources
*.idb
/Colourlovers
/PatternColorizer/out
/PatternColorizer/bin
/PatternColorizer/obj
/PaletteExtraction/obj
/PaletteExtraction/bin
/SegmentModel/permutationStats
/SegmentModel/out
/paletteExtractionWorkspace
/SceneToolbox/Output
/SceneToolbox/Debug/*.ilk
/SceneToolbox/Debug/*.ilk
/latex/siggraph2013/*.aux
/latex/siggraph2013/*.bbl
/latex/siggraph2013/*.blg
/latex/siggraph2013/*.tps
/SegmentModel/weightLearning
/SegmentModel/oldSavedModels
